;; shadow-cljs.edn
{:source-paths
 ["src"]

 :dependencies
 [[lilactown/helix "0.2.0"]]

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn th-tools-ui-hack.core/init}}
   :devtools {:http-root "public"
              :http-port 3000}}}}