;; shadow-cljs.edn
{:source-paths
 ["src"]

 :dependencies
 [[lilactown/helix "0.2.0"]
  [com.pitch/uix.core "1.4.5"]
  [com.pitch/uix.dom "1.4.5"]]

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn clj-react-hack.core/render-app}}
   :devtools {:http-root "public"
              :http-port 3000}}}}